body {
    font-family: 'Arvo', serif;
    font-family: 'Caveat Brush',
        cursive;

}

h1 {
    font-family: 'Rock Salt',
        cursive;
    font-size: 2.5rem ! important;
    letter-spacing: .1rem ! important;
    line-height: 3.5rem;

}

h2 {
    font-family: 'Rock Salt',
        cursive;
    font-size: 1.5rem ! important;
}

.height {
    min-height: 50vh;
}

.navbar {
    background-color: #f77f00;
    background-image: linear-gradient(15deg, #dc2f02 0%, #f77f00 100%);
}

.title-underline {
    background-image: linear-gradient(15deg, #dc2f02 0%, #f77f00 50%);
    width: 200px;
    height: 10px;
    margin: 0 auto;
    /* background-color:blue! important; */
    /* use ! important to over ride bootstrap classes */
}

.height-80 {
    min-height: 70vh;
}

.height-100 {
    min-height: 100vh;
}

.headerfont {
    margin-top: 6rem;
    width: 100%;
    min-width: 310px;
    min-height: 3rem;

}

.img-fluid {
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    background: linear-gradient(to right, rgba(0, 0, 0, .1), rgba(0, 0, 0, .7)), url(../img/paintbrush-3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.about-picture {
    background: url(../img/about-bg-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* #projects {
   background: linear-gradient(15deg, #f0ad4e 30%, #0275d8 100%);
}*/

hr {
    /* background-color: #0275d8; */
    background-image: -webkit-linear-gradient(left, rgba(66, 133, 244, .9), rgba(66, 133, 244, .5), rgba(0, 0, 0, 0));
    height: 2px !important;
    margin-bottom: 3px;
}

#filler {
    background: linear-gradient(to right, rgba(0, 0, 0, .1), rgba(0, 0, 0, .7)), url(../img/easel.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 70vh;
}

.progress-picture {
    background: url(../img/progress-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#progress {
    background: linear-gradient(to right, rgba(0, 0, 0, .1), rgba(0, 0, 0, .7)),
        url(../img/progress-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 60vh;
}

/*.img-fluid-oval {
    width: 18.75rem;
    height: 14rem;
    border-radius: 50%;
}
